* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;
}

#container {
    height: auto;
    width: auto;
}

#start {
    height: 70px;
    width: 250px;
    font-size: 24px;
    text-align: center;
    border-radius: 20px 20px;
    background-color: darkred;
    color: silver;
    font-weight: bold;
    padding: 20px 0;
    border: 2px solid silver;
    cursor: pointer;
    /*display: none;*/
}

#start:hover {
    background:silver;
    color: darkred;
}

#rules, #trivia {
    height: auto;
    width: 580px;
    background: darkred;
    border-radius: 20px 20px;
    padding: 20px;
    color: silver;
    display: none;
}

#rules h2 {
    font-size: 60px;
    text-align: center;
}

#rules h4 {
    height: 50px;
    width: 100%;
    font-size: 20px;
    align-items: center;
    display: flex;
}

#rules #button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#rules #button button {
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    color: silver;
    background: darkred;
    border: 1px solid silver;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px 10px;
}

#rules #button button:hover {
    background: silver;
    color: darkred;
}

#trivia {
    /*display: block;*/
    height: 480px;
    position: relative;
}

#trivia #trivia_head {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: darkred;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px;
}

#trivia #trivia_head h5 {
    font-size: 28px;
    margin: 0 20px;
    color: silver
}

#trivia #trivia_head #clock {
    height: 50px;
    background: darkred;
    color: silver;
    font-size: 18px; 
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}

#trivia #trivia_head #clock h6 {
    font-size: 22px;
    display: grid; 
    place-items: center;
    color: silver;
}

#trivia #trivia_head #clock #time {
    height: 45px;
    width: 50px;
    background: darkred;
    color: silver;
}

/*questions*/

#trivia #questions {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
}

#trivia #questions h2 {
    font-size: 25px;
}

#trivia #questions h2:first-child {
    margin: 0 10px 0 5px;
}

#trivia #selectionList {
    position: absolute;
    top: 200px;
}

#trivia #selectionList h4 {
    height: 50px;
    width: 535px;
    background: darkred;
    line-height: 50px;
    margin: 5px 0;
    padding: 0 20px;
    font-size: 20px;
    color:silver;
    overflow: hidden;
    border: 1px solid silver;
    cursor: pointer;
}

#trivia #selectionList h4:hover {
    background: silver;
    color:darkred
}

#trivia #selectionList .active {
    background:silver;
}

#trivia #selectionList .disabled {
    pointer-events: none;
}

#trivia #answers {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#trivia #answers h3 {
    display: none;
}

#trivia #answers h3:last-child {
    height: 40px;
    width: 100px;
    display: grid;
    place-items: center;
    position: absolute;
    border-radius: 10px 10px;
    right: 0;
    color: silver;
    font-size: 18px;
    cursor: pointer;
    margin: 0 20px;
}

#trivia #answers h3:hover {
    background: darkred;
}

#trivia #answers h3:first-child:hover {
    background: none;
}

#container #results {
    height: 500px;
    width: 450px;
    padding: 20px;
    background: darkred;
    border-radius: 20px 20px;
    color: silver;
    overflow: hidden;
    position: relative;
    display: none;
}

#container #results h6 {
    height: 40px;
    width: 87%;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 235px;
}

#container #results #points {
    font-size: 30px;
    top: 275px;
}

#container #results button {
    height: 60px;
    width: 200px;
    border: none;
    outline: none;
    background: darkred;
    color: silver;
    left: 125px;
    top: 335px;
    border: 1px solid silver;
    border-radius: 10px 10px;
    font-size: 18px;
    cursor: pointer;
}

#container #results button:last-child {
    top: 406px;
}

#container #results button:hover {
    background: silver;
    color: darkred;
}
